#login {
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  #login h2 {
    text-align: center;
    font-size: 3.8em;
    color: #4f4f4f;
    font-weight: 400;
    margin: 4rem 0;
  }