<%- include('partials/head.ejs',{view}) %>
<link rel="stylesheet" href="/css/pages/404.css">
</head>

<body>
    <%- include('partials/navbar.ejs',{view}) %>
    <!-- MAIN -->
    <main class="main-container">            
        <div class="container error404__container">
            <img class="error404__imagen" src="/img/tristeza_error_404.png" alt="Imagen pagina no encontrada">
            <span class="error404__text">¡UPS! Página no encontrada :( </span>
        </div>
    </main>
    
    <%- include('partials/footer.ejs',{view}) %>
</body>

</html>