<%- include('partials/head.ejs',{view}) %>
<link rel="stylesheet" href="/css/pages/about.css">
</head>

<body>
    <%- include('partials/navbar.ejs',{view}) %>
    <!-- MAIN -->
    <main class="main-container">
        <!-- ABOUT US -->
        <section class="about__container">
            <h2 class="about__title">Sobre nosotros</h2>
            <p class="about__text">
                Somos el <strong>Grupo #7</strong> del curso de Fullstack Node JS, comisión: 23758. 
            </p>
            <p class="about__text">
                Nuestra dedicación se refleja en cada aspecto de nuestro trabajo. 
                Nos esforzamos por superar las expectativas en todo momento. 
            </p>
            <p class="about__text">Nuestros miembros son:</p>
            <div class="about__list--container">
                <ul class="about__list">
                    <li class="about__item">• Christian Martinez, <a class="about__link" href="https://github.com/ch-martinez">ch-martinez</a></li> 
                    <li class="about__item">• Eduardo Gwiazda, <a class="about__link" href="https://github.com/egwiazda">egwiazda</a></li> 
                    <li class="about__item">• Enrique Ramirez, <a class="about__link" href="https://github.com/enriqeram">enriqeram</a></li>    
                    <li class="about__item">• Exequiel Macchi, <a class="about__link" href="https://github.com/exeMacchi">exeMacchi</a></li> 
                </ul>
                <figure class="about__image">
                    <img src="/img/about.png" alt="">
                </figure>
            </div>
            <span class="about__item"><a class="about__link" href="https://github.com/ch-martinez/funkoshop">Enlace del repositorio</a></span>
            <p class="about__detail">Proyecto integrador tienda de funkos - Codo a Codo 4.0, Fullstack Node JS - Comisión: 23758</p>
        </section>

    </main>
    <%- include('partials/footer.ejs',{view}) %>
</body>
</html>
