<%- include('../partials/head.ejs',{view}) %>
<link rel="stylesheet" href="/css/pages/buyCart.css">
</head>

<body>
    <%- include('../partials/navbar.ejs',{view}) %>
    <!-- MAIN -->
    <main class="main-container">            
        <div class="container compra__container">
            <img class="compra__imagen" src="/img/compra_realizada.png" alt="Imagen pagina no encontrada">
            <span class="compra__text">Gracias por su compra</span>
            <p class="compra__subtext">¡No podemos agradecer suficiente todo su apoyo!</p>
        </div>
    </main>
    <%- include('../partials/footer.ejs',{view}) %>
</body>

</html>