<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOP</title>
    <link rel="stylesheet" href="/css/imports.css" />
    <link rel="stylesheet" href="/css/pages/shop.css" />
    <link rel="stylesheet" href="/css/global/card.css">
    <link rel="shortcut icon" href="/img/branding/isotype.svg" type="image/x-icon" />
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar container">
            <figure class="navbar__logo--header">
                <a href="../../index.html">
                    <img src="/img/branding/logo_light_horizontal.svg" alt="Isotipo de la tienda FunkoShop">
                </a>
            </figure>

            <!-- INICIO MENU -->
            <ul class="navbar__menu--shop">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="#">SHOP<iconify-icon
                            icon="tabler:chevron-down"></iconify-icon></a>
                    <!-- INICIO SUBMENU -->
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">FUNKOS</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">REMERAS</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">LLAVEROS</a>
                        </li>
                    </ul>
                    <!-- FIN SUBMENU -->
                </li>

                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/admin/login.html">LOGIN</a>
                </li>

                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/contact.html">CONTACTO</a>
                </li>

                <li class="navbar__item">
                    <a class="navbar__cart" href="/pages/shop/cart.html">
                        <img src="/img/icons/cart-icon.svg" alt="Carrito de compras">
                    </a>
                </li>
            </ul>
            <!-- FIN MENU -->
        </nav>
    </header>